<!DOCTYPE html>
<html lang="en">

<head>
    <title>CS4241 Assignment 4</title>
    <meta charset="utf-8" />
    <link rel="icon" href=https://cdn2.bulbagarden.net/upload/thumb/1/1f/831Wooloo.png/1200px-831Wooloo.png
        type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Besley&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Main Page.">
</head>

<body>
    <script src="js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tweakpane@3.0.5/dist/tweakpane.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
    <h1>Welcome!</h1>
    <div id='overlay'>
        <div id='instructionsForm'>
            <h2>Instructions</h2>
            <p>
                Welcome user! This page will play songs from various artists that you may or may not know.
                After pressing the 'Play' button, you will be redirected to a new page that would play a
                set of songs. Hope you enjoy your time here!
            </p>
            <h3>Change Song</h3>
            <p>
                Choose whatever song you like to listen to.
            </p>
            <h3>Change Color</h3>
            <p>
                Change the color of the sound wave from the options provided
            </p>
            <h3>Settings</h3>
            <p>
                Allows you to play, pause, loop, mute, and change the volume of the song.
            </p>
            <button id="play">Play</button>
        </div>
    </div>
    <div id='content'>
        <h1>Let's Vibe</h1>
        <div id="player">
            <div id='songs'>
                Song List
                <div></div>
                <input type="button" id="sajou" name="song" value="Gray by sajou no hana">
                <div></div>
                <input type="button" id="sawano" name="song" value="Hands Up to the Sky by SawanoHiroyuki[nZk]">
                <div></div>
                <input type="button" id="reona" name="song" value="Untitled World by ReoNa">
                <div></div>
            </div>
            <!--<div id= "canvasDiv">
                <canvas id= "canvas" width= "512" height= "512"></canvas>
            </div>-->
        </div>
        <div id="changeColors">
            Change Colors
            <button id="default">Default</button>
            <button id="blueGradient">Blue Gradient</button>
            <button id="redGradient">Red Gradient</button>
            <button id="purpleGradient">Purple Gradient</button>
            <button id="greenGradient">Green Gradient</button>
        </div>
    </div>
</body>

</html>